@using Readit.Models.Entities;
@model Readit.Models.Entities.Link;

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<div class="Link">
    <a asp-action="ViewLink" asp-controller="Home" asp-route-id="@Model.Id" style="text-decoration:none;color:black;">
        <h1>@Model.Title</h1>
        @{
            bool upVotedorDownVoted = false;
            var member = (Member)ViewData["user"];
            Vote vote = null;
            foreach (var item in Model.Votes) {
                if (item.MemberId == member.Id) {
                    if (item.IsUpVote is true) {
                        upVotedorDownVoted = true;
                        vote = item;
                        break;
                    }
                    else {
                        break;
                    }
                }
            }
        }

        @if (member.Id == Model.MemberId) {
            <a style="text-decoration:none; color:black;" asp-route-Id="@Model.Id" asp-action="delete" asp-controller="Home">
                <i class="bi bi-x-circle-fill" style="display:inline;float:right"></i>
            </a>
            <h6>Published by: @member.Username</h6>
        } else {
            <h6>Published by: @Model.Member.Username</h6>
        }
        <h6 class="text-muted"> @Model.PublicationDate</h6>
        &nbsp;


        <p style="word-break:break-all;">@Model.Description</p>
        <p style="float:right">
            @Model.Votes.Where(w => w.IsUpVote is false).Count()
            @if (upVotedorDownVoted == false && vote != null) {
                <i class="bi bi-hand-thumbs-down-fill"></i>
            }
            else {
                if (upVotedorDownVoted == true && vote != null) {
                    <a asp-action="ThumbsUpdate" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@Model.MemberId" asp-route-updown="0"> <i class="bi bi-hand-thumbs-down"></i></a>
                }
                else {
                    <a asp-action="Thumbs" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@Model.MemberId" asp-route-updown="0"> <i class="bi bi-hand-thumbs-down"></i></a>
                }

            }


        </p>
        <p style="float:right;">
            @Model.Votes.Where(w => w.IsUpVote is true).Count()

            @if (upVotedorDownVoted == true && vote != null) {
                <i class="bi bi-hand-thumbs-up-fill"></i>
            }
            else {
                if (upVotedorDownVoted == false) {
                    <a asp-action="ThumbsUpdate" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@Model.MemberId" asp-route-updown="1"> <i class="bi bi-hand-thumbs-up"></i></a>
                }
                else {
                    <a asp-action="Thumbs" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@Model.MemberId" asp-route-updown="1"> <i class="bi bi-hand-thumbs-up"></i></a>
                }

            }
        </p>
        <p style="float:right;">
            @Model.Comments.Count()

            <i class="bi bi-chat"></i>
        </p>
    </a>
</div>
