@using Readit.Models.Entities;
@model Readit.Models.Entities.Link;

@{
    List<Vote> votes = (List<Vote>)ViewData["votes"];
    var member = (Member)ViewData["user"];
    bool is_upvote = false;
    bool is_downvote = false;
    votes = votes.Where(v => v.MemberId == member.Id && v.LinkId==Model.Id).ToList();
    if (votes != null)
    {
        foreach (var item in votes)
        {
          
                if (item.IsUpVote == true)
                    is_upvote = true;
                if (item.IsUpVote == false)
                    is_downvote = true;

            
        }
    }
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
<div class="Link">
    <a asp-action="ViewLink" asp-controller="Home" asp-route-id="@Model.Id" style="text-decoration:none;color:black;">
        <h1 style="display:inline;">@Model.Title</h1>
        

        @if (member.Id == Model.MemberId) {
            <a style="text-decoration:none; color:black; display:inline;" asp-route-Id="@Model.Id" asp-action="delete" asp-controller="Home">
                <i class="bi bi-x-circle-fill" style="display:inline;float:right"></i>
            </a>
            <h6>Published by: @member.Username</h6>
        } else{
            <h6>Published by: @Model.Member.Username</h6>
        }
        <h6 class="text-muted"> @Model.PublicationDate</h6>
        &nbsp;


        <p style="word-break:break-all;">@Model.Description</p>
        <p style="float:right">
        @if(votes.Count() > 0){
            if(is_upvote && !is_downvote){
                    @Model.Votes.Where(w => w.IsUpVote == true).Count()
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    @Model.Votes.Where(w => w.IsUpVote ==false).Count()
                    <a asp-action="ThumbsUpdate" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@member.Id" asp-route-updown="false"> <i class="bi bi-hand-thumbs-down"></i></a>
            }else{

                    @Model.Votes.Where(w => w.IsUpVote ==true).Count()
                    <a asp-action="ThumbsUpdate" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@member.Id" asp-route-updown="true"> <i class="bi bi-hand-thumbs-up"></i></a>
                    @Model.Votes.Where(w => w.IsUpVote ==false).Count()
                    <i class="bi bi-hand-thumbs-down-fill"></i>
            
            }
        }else{

                @Model.Votes.Where(w => w.IsUpVote ==true).Count()
                <a asp-action="Thumbs" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@member.Id" asp-route-updown="true"> <i class="bi bi-hand-thumbs-up"></i></a>
                       @Model.Votes.Where(w => w.IsUpVote ==false).Count()
                <a asp-action="Thumbs" asp-controller="Home" asp-route-LinkId="@Model.Id" asp-route-MemberId="@member.Id" asp-route-updown="false"> <i class="bi bi-hand-thumbs-down"></i></a>
        }
        </p>

        <p style="float:right;">
            @Model.Comments.Count()

            <i class="bi bi-chat"></i>
        </p>
    </a>
</div>
