@model Readit.Models.Entities.Member

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

<h1 class="links-title">My Links</h1>

<div class="card user-card">
    <div class="card-body user-card-body">
        <h5 class="card-title">Hello, @Model.Username.ToUpper().</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Email</h6>
        <div class="stats-container">
            <div class="stats-group comment-group">
                <span class="stats">@ViewData["CommentCount"]</span>
                <i class="bi bi-chat icon stats"></i>
            </div>

            <div class="stats-group post-group">
                <span class="stats">@ViewData["PostCount"]</span>
                <i class="bi bi-sticky icon stats"></i>
            </div>

            <div class="stats-group likes-group">
                <span class="stats">@ViewData["LikesCount"]</span>
                <i class="bi bi-hand-thumbs-up icon stats"></i>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <a asp-controller="Profile" asp-action="EditProfile" type="button" class="btn btn-primary">Edit</a>
        <br/>
        <br/>
    </div>
</div>
<div class="img-container">
    <img src="~/images/reading_time.svg" b-hi7zulfpfw />
</div>