@using Readit.Models.Entities
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject IHttpContextAccessor Http;
@model Link
@{
    List<Vote> votes = ViewBag.connectedUser.Votes;
    bool is_upvote = false;
    bool is_downvote = false;
    if (votes != null)
    {
        foreach (var item in votes)
        {
            if (item.LinkId == Model.Id)
            {
                if (item.IsUpVote == true)
                    is_upvote = true;
                if (item.IsUpVote == false)
                    is_downvote = true;
            }
        }
    }
}

<div class="d-flex justify-content-center">
    <div class="carte-parent bg-secondary">
        <div class="carte-lien card-body text-white">
            <h6 class="float-end">Date de publication: @Model.PublicationDate</h6>
            <h6 class="card-subtitle">@Model.Member.Username</h6>
            <h1 class="card-title">&nbsp;&nbsp;@Model.Title</h1>
            <div class="images-pouce">
                @if (is_upvote == false)
                {
                    <a asp-action="Upvote" style="cursor:pointer">
                        <img class="thumb-img" src="~/images/thumb-up-outline.png" /> @Model.UpVote
                    </a>
                }
                @if (is_upvote == true)
                {
                    <a asp-action="RemoveUpvote" style="cursor:pointer">
                        <img class="thumb-img" src="~/images/thumb-up.png" /> @Model.UpVote
                    </a>
                }
                @if (is_downvote == false)
                {
                    <a asp-action="Downvote" style="cursor:pointer">
                        <img class="thumb-img" src="~/images/thumb-down-outline.png" /> @Model.DownVote
                    </a>
                }
                @if (is_downvote == true)
                {
                    <a asp-action="RemoveDownvote" style="cursor:pointer">
                        <img class="thumb-img" src="~/images/thumb-down.png" /> @Model.DownVote
                    </a>
                }
            </div>
            <h6>@Model.Description</h6>
        </div>
    </div>
</div>
&nbsp;
<form class="row d-flex justify-content-center" asp-action="PublierCommentaire">
    @if (ViewBag.Alert != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Alert");
            };
        </script>
    }
    <div class="carte-decoration bg-secondary">
        <div class="card-body text-white">
            <input name="memberid" id="memberid" value="@ViewBag.connectedUser.Id" hidden />
            <input name="linkid" id="linkid" value="@Model.Id" hidden />
            <input class="comment-input" type="text" name="comment" id="comment" placeholder="Écrire un commentaire" />
            &nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-primary" type="submit" value="Publier" />
        </div>
    </div>
</form>
&nbsp;
<div class="row d-flex justify-content-center">
    <div class="carte-decoration bg-secondary">
        <div class="card-body text-white">
            @if (Model.Comments.Count() == 0)
            {
                <h5>&nbsp;&nbsp;&nbsp;&nbsp Aucun commentaire</h5>
            }
            else
            {
                <h5>@Model.Comments.Count() Commentaires</h5>
            }
        </div>
    </div>
</div>
<div class="container div">
    @foreach (var comment in Model.Comments.OrderByDescending(c => c.PublicationDate))
    {
        <partial name="_Comment" model="comment" />
    }
</div>
